{% extends "layout.html" %}
{% block content %}

<section class="info-img-container">
    <div class="slider-wrapper">
        <div class="slider">
            <img id="slide-1" src="./static/image-3.jpg">
            <img id="slide-2" src="./static/image-3.jpg">
            <img id="slide-3" src="./static/image-3.jpg">
            <img id="slide-4" src="./static/image-3.jpg">
            
        </div>
        <div class="ai-btn">
            <a class="ai-image-btn" href="/image"><img src="static/ai-image.jpg"></a>
            <a class="ai-image-btn" href="/signup"><img src="static/ai-video.jpg"></a>
            <p class="coming">Coming Soon..</p>
        </div>
    </div>
</section>

{% endblock %}
